<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <!--是否需要初始化，在初始化后需要将该值改成false-->
    <add key="needInit" value="false"/>
    <!--初始化时最大的和值，10，20，50，100-->
    <add key="init_max" value="20"/>
    <!--2个数的和的表名-->
    <add key="subject2_table" value="MathSubject2"/>
    <!--3个数的和的表名-->
    <add key="subject3_table" value="MathSubject3"/>
    <!--出题时包括0值-->
    <add key="containZero" value="false"/>
    <!--和的最小值，最小4，不能大于最大值-->
    <add key="min" value="9"/>
    <!--和的最大值,最大20，不能小于最小值-->
    <add key="max" value="20"/>
    <!--题数量，最小10，最大100-->
    <add key="count" value="30"/>
    <!--每行题数-->
    <add key="row_cell_count" value="5"/>
    <!--定义出题按钮和功能 subject2=2个数的加减；subject3=3个数的加减-->
    <add key="subject2" value="{&quot;{0}以内加法(A+B=?)&quot;:[&quot;{0} + {1} = (  )&quot;,&quot;{1} + {0} = (  )&quot;],
      &quot;{0}以内减法(A-B=?)&quot;:[&quot;{2} - {0} = (  )&quot;,&quot;{2} - {1} = (  )&quot;],
      &quot;{0}以内加法(A+?=B)&quot;:[&quot;{0} + (  ) = {2}&quot;, &quot;{1} + (  ) = {2}&quot;, &quot;(  ) + {0} = {2}&quot;, &quot;(  ) + {1} = {2}&quot;],
      &quot;{0}以内减法(A-?=B)&quot;:[&quot;{2} - (  ) = {0}&quot;, &quot;{2} - (  ) = {1}&quot;],
      &quot;{0}以内加减(A+/-B=?)&quot;:[&quot;{0} + {1} = (  )&quot;, &quot;{1} + {0} = (  )&quot;, &quot;{2} - {0} = (  )&quot;, &quot;{2} - {1} = (  )&quot;],
      &quot;{0}以内加减(A+/-?=B)&quot;:[&quot;{0} + (  ) = {2}&quot;, &quot;{1} + (  ) = {2}&quot;, &quot;(  ) + {0} = {2}&quot;, &quot;(  ) + {1} = {2}&quot;, &quot;{2} - (  ) = {0}&quot;, &quot;{2} - (  ) = {1}&quot;],
      &quot;{0}以内混合(?+/-?=?)&quot;:[&quot;{0} + {1} = (  )&quot;, &quot;{1} + {0} = (  )&quot;, &quot;{2} - {0} = (  )&quot;, &quot;{2} - {1} = (  )&quot;, &quot;{0} + (  ) = {2}&quot;, &quot;{1} + (  ) = {2}&quot;, &quot;(  ) + {0} = {2}&quot;, &quot;(  ) + {1} = {2}&quot;, &quot;{2} - (  ) = {0}&quot;, &quot;{2} - (  ) = {1}&quot;],
      &quot;&quot;:[],
      &quot;&quot;:[]}"/>
    <add key="subject3" value="{&quot;{0}以内连加(A+B+C=?)&quot;:[&quot;{0} + {1} + {2} = (  )&quot;, &quot;{1} + {2} + {0} = (  )&quot;, &quot;{2} + {0} + {1} = (  )&quot;, &quot;{2} + {1} + {0} = (  )&quot;],
      &quot;{0}以内连加(A+B+?=C)&quot;:[&quot;(  ) + {1} + {2} = {3}&quot;, &quot;{1} + (  ) + {0} = {3}&quot;, &quot;{2} + (  ) + {1} = {3}&quot;, &quot;{2} + {1} + (  ) = {3}&quot;],
      &quot;{0}以内连减(A-B-C=?)&quot;:[&quot;{3} - {0} - {1} = (  )&quot;, &quot;{3} - {1} - {2} = (  )&quot;, &quot;{3} - {2} - {0} = (  )&quot;],
      &quot;{0}以内连减(A-B-?=C)&quot;:[&quot;{3} - {0} - (  ) = {1}&quot;, &quot;{3} - {1} - (  ) = {2}&quot;, &quot;{3} - {2} - (  ) = {0}&quot;, &quot;{3} - (  ) - {0} = {1}&quot;, &quot;{3} - (  ) - {1} = {2}&quot;, &quot;{3} - (  ) - {2} = {0}&quot;],
      &quot;&quot;:[],
      &quot;&quot;:[]}"/>
  </appSettings>
  <connectionStrings>
    <!--数据库连接配置-->
    <add name="default" connectionString="Data Source=127.0.0.1/orcl;User ID=stock; Password=admin; min pool size = 25; max pool size = 1000" providerName="System.Data.OracleClient"/>
  </connectionStrings>
</configuration>